.navbar {
  background: white;
  border-bottom: 2px solid grey;
  display: flex;
}

img {
  width: 15%;
  height: auto;
}

.navbar-links {
  margin: 0;
  padding: 0;
}

.navbar-links-item {
  margin: 0;
  padding: 22px;
  display: inline-block;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
